section.home.section(data-anchor='home')
    .section__layer
        img.home__photo(src='./img/home/myPhoto.png', alt='myPhoto')
        h1.title.home__title STANISLAV POHREBNIAKOV
        .typeIt
        a.home__githubBtn(href='https://github.com/TyranRexUA', target='_blank')
            span.icon-github
        a.home__button(href='./resume/Resume - Stanislav Pohrebniakov.pdf', target='_blank') Resume