nav.menu
    each menuItem in menuItems
        a.menu__item(href=`#${menuItem.menuanchor}`, data-menuanchor= menuItem.menuanchor, class=(menuItem.name== 'Home') ? 'active' : '')
            img(src= menuItem.iconSrc, width='32', height='32', alt='menu__icon') 
            .menu__text: span= menuItem.name
        |
        |