//- -
//-     var cards = [
//-         {title: 'Є-РОЗСТРОЧКА | Факторинг', link: '#', cardFrontBgSrc: './img/portfolio/cards/e-dolg.jpg'},
//-         {title: 'ІНФОРМАЦІЙНА ПЛОЩАДКА 5PL', link: '#', cardFrontBgSrc: './img/portfolio/cards/informationPlatform5PL.jpg'},
//-     ]

//- mixin card(title='Default Title')
mixin card(card = {title: 'Title', link: '#', description: '', cardFrontBgSrc: './img/portfolio/cards/e-dolg.jpg'})
    .card
        .card__front(style= ('background: url('+ card.cardFrontBgSrc + '); background-size: cover; background-position: top left; background-repeat: no-repeat;'))
        .card__back
            h3= card.title
            p.card__description= card.description
            a.card__button(href= card.link, target='_blank') Go to Website

section.portfolio.section(data-anchor='portfolio')
    .section__layer
        h2.title.portfolio__title PORTFOLIO
        .slider
            +card({title: 'Games-Library', link: 'https://tyranrexua.github.io/games-library/', cardFrontBgSrc: './img/portfolio/cards/games-library.jpg', description: 'REACT / REDUX / SCSS / RawgAPI' })
            +card({title: 'TODO-list', link: 'https://tyranrexua.github.io/TODO-list/', cardFrontBgSrc: './img/portfolio/cards/todo-list.jpg', description: 'TYPESCRIPT / REACT / REDUX / SCSS' })
            +card({title: 'Star-Wars: Planets', link: 'https://tyranrexua.github.io/star-wars-planets/', cardFrontBgSrc: './img/portfolio/cards/star-wars-planets.jpg', description: 'REACT / REDUX / SCSS / SWAPI API' })
            +card({title: 'Є-РОЗСТРОЧКА | Факторинг', link: 'http://e-dolg.com.ua/', cardFrontBgSrc: './img/portfolio/cards/e-dolg.jpg', description: 'HTML / SCSS / jQuery / PHP'})
            +card({title: 'ІНФОРМАЦІЙНА ПЛОЩАДКА 5PL', link: 'https://tyranrexua.github.io/Information-platform-5PL/', cardFrontBgSrc: './img/portfolio/cards/informationPlatform5PL.jpg', description: 'GULP / PUG / SCSS / jQuery'})
            +card({title: 'XO', link: 'https://tyranrexua.github.io/xo/', cardFrontBgSrc: './img/portfolio/cards/xo.jpg', description: 'JAVASCRIPT' })
            +card({title: 'Piroll', link: 'https://tyranrexua.github.io/piroll/', cardFrontBgSrc: './img/portfolio/cards/piroll.jpg', description: 'PUG / SCSS / BOOTSTRAP / jQuery' })
            +card({title: 'tinyone', link: 'https://tyranrexua.github.io/tinyone/', cardFrontBgSrc: './img/portfolio/cards/tinyone.jpg', description: 'HTML / CSS' })

            .slider__nav.nav
                .nav__prevBtn <
                .nav__nextBtn >


