- 
	var menuItems = [
		{name: 'Home', iconSrc: 'img/icons/home.svg', menuanchor: 'home'},
		{name: 'Skills', iconSrc: 'img/icons/skills.svg', menuanchor: 'skills'},
		{name: 'Portfolio', iconSrc: 'img/icons/portfolio.svg', menuanchor: 'portfolio'},
		{name: 'Contact', iconSrc: 'img/icons/contact.svg', menuanchor: 'contact'},
	]

doctype html
html(lang="uk")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')

		link(rel="stylesheet", href="plugins/pagePilling/jquery.pagepiling.min.css")
		link(rel="stylesheet", href="css/style.css")
		link(rel="shortcut icon", href="img/favicon.ico", type="image/x-icon")
		
		title Portfolio Stas Pohrebniakov
	body
		.preloader
			object(type="image/svg+xml", data="img/preloader.svg")
		include ./_menu
		.wrapper
			include ./_home
			include ./_skills
			include ./_portfolio
			include ./_contact

		script(src='./js/jquery.min.js')
		script(src="plugins/typeIt/typeit.min.js")
		script(src='plugins/cloudTag/jquery.svg3dtagcloud.min.js')
		script(src='plugins/pagePilling/jquery.pagepiling.min.js')
		script(src='plugins/hammer/hammer.min.js')
		script(src='js/main.js')
