@import '../fontIcons/style.css';

$mainColor: #2c3e50;
$secondColor: #2B2B2B;
//$thirdColor: #E87E04;
$fontColor: #bdbdbd;
$fontSecondColor: #2c3e50;
//$billetMainBg: rgba($color: $mainColor, $alpha: 0.9);
//$billetSecondBg: rgba($color: #505050, $alpha: 0.9);
$billetPadding: 60px 0px 0px 0px;
//#6C5468
//#181b1e
//#2E3041
$elementColor: #E87E04;
$navColor: #bdbdbd;
$homeColor: #2c3e50;
//$experienceColor: #404040;
$skillsColor: #404040;
//$skillsColor: #6C5468;
//$portfolioColor: #6C5468;
$portfolioColor: #504857;
$contactColor: #2E3041;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    text-decoration: none;
}

html {
    font-size: 14px;
    overflow: hidden !important;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}
.preloader {
    position: absolute;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: $mainColor;
}
.wrapper {
    height: 100vh;
    overflow: hidden;
}

.title {
    font-size: 6.7vmin;
    text-align: center;
    color: $fontColor;
    margin-bottom: 5vh;
}

@import "menu";

section {
    box-shadow: inset 0 0 20px 10px white;
    overflow: hidden !important;
}

@import "home";
@import "skills";
@import "portfolio";
@import "contact";

@media (max-height: 560px) {
    .title {
        margin-bottom: 2vh !important;
    }
}